*.user
*.vspscc
*.vcproj
cscope.*
/**/x86
*.stackdump
*.wgtw
*.mk
*.cdtproject
*.cproject
*.qnx_internal.mk
Makefile
*.dfn
*.wsp
*.project
*.pjt
*.psp
*.sbl
*.dsp
/**/reports
/**/wgt
*.swp
*.org
*.def
/**/obj
*.csdproj 
*.csproj 
/**/bin
*.resx
*.rtf
